<div class="form-container">
  <div class="minimal-form">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <div class="experience-name">
        <h3>Account Settings</h3>
      </div>
      <%= f.input :first_name %>
      <%= f.input :country, placeholder: "In which country are you now?" %>
      <%= f.input :batch_number %>
      <%= f.input :batch_location %>
      <%= f.input :slack_username %>
      <%= f.input :visited_bali, label: "Ever visited Bali before?" %>
      <%= f.input :email %>
      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end  %>

    <div class="d-flex mt-5">
      <div class="experience-name">
        <h5>Cancel my account</h5>
        <%= link_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure? This action is irreversible." }, method: :delete, class: "btn btn-primary", style: 'color: #007a6f; border: none; background: #d3e7e7' %>
      </div>
    </div>
  </div>
</div>


