<h3 class="second-blue-title p-2 pt-5 px-4">
  A few more info to complete your profile...
</h3>

<div class="form-container">
  <div class="minimal-form">
    <%= simple_form_for @user, url: patch_profile_path, method: :patch do |f| %>
      <%= f.input :batch_number %>
      <%= f.input :batch_location, collection: @lw_cities %>
      <%= f.input :slack_username, label: "Your LeWagon alumni slack username" %>
      <%= f.input :country, label: "Where are you now?" %>
      <%= f.input :visited_bali, label: "Have you already visited Bali?" %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
