<div class="experience-photo-container profile-container" style="background-image: <%= 'linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),' %> url(<%= asset_path('optimized-palm-leaves.jpeg') %>);">

  <div class="experience-white-background" style="position: relative;">
  <div class="avatar-edit">
    <%= image_tag @user.github_picture_url, class: 'profile-avatar' %>
    <% if policy(@user).edit? %>
      <%= link_to "Edit profile", edit_registration_path(current_user), style: 'color: #C5C5C5; text-decoration: underline; font-size:12px' %>
    <% end %>
  </div>
    <div class="experience-main-container">
      <div class="experience-name">
        <%= params[:github_username] %>
        <%= image_tag "github-logo.png", class: "small-logo" %>
        <% if @user.first_name %>
          <span class="profile-first-name">(<%= @user.first_name.capitalize %>)</span>
        <% end %>
      </div>

      <div class="medium-p pt-3 pb-2">
        <%= image_tag "lewagon-logo-small.png", class: 'medium-logo pr-2' %>
        Student of batch <%= @user.batch_number %> in <strong><%= @user.batch_location.capitalize %></strong>
      </div>


      <div class="medium-p pb-2">
        <i class="fas fa-map-marker-alt pr-2" style="color: #6f6f6f"></i>
        <%= @user.country_name %> - <%= @been_to_bali %>
      </div>

      <% if @user.slack_username? %>
        <div class="medium-p pb-3">
          <%= image_tag "slack.png", class: 'medium-logo pr-2' %>
          <%= @user.slack_username %>
        </div>
      <% end %>

      <div class="d-flex justify-content-around" id="stats-buttons">
        <div class="experience-stat">
          <%= link_to user_profile_path(params[:github_username], type: 'my-experiences'), remote: true do %>
            <div class="profile-icon active-icon" id='my-experiences'>
              <%= image_tag "backpack.svg" %>
             <span class="experience-count"><%= @user.experiences.count %></span>
            </div>
          <% end %>
        </div>

       <div class="experience-stat">
          <%= link_to user_profile_path(params[:github_username], type: 'saved'), remote: true  do %>
            <div class="profile-icon" id='saved'>
              <%= image_tag "heart.png" %>
             <span class="experience-count"><%= @user.favorites.count %></span>
            </div>
          <% end %>
        </div>


        <div class="experience-stat">
          <%= link_to user_profile_path(params[:github_username], type: 'dones'), remote: true  do %>
            <div class="profile-icon" id='done'>
              <%= image_tag "tick.svg" %>
             <span class="experience-count"><%= @user.dones.count %></span>
            </div>
          <% end %>
        </div>
      </div>

      <div class="light-p toggle display-flex map-button-container ml-3 pt-4 mb-0" id="display-map-button">
        <p class='mr-3' id='display-map-text'>Display the map:</p>
        <input type="checkbox" id="toggle" />
        <label for="toggle"></label>
      </div>

    </div>
  </div>
  <div class="cards-and-map-container">
      <!-- Begining of my_experiences container -->
      <div class="experience-cards-container" id="experience-cards-container">
        <%= render "./experiences/filtered-experiences", experiences: @experiences %>
      </div>
      <!-- End of my_experiences container -->

    <!-- Beginning of map -->
    <div
    class="display-none"
    id="dashboard-map"
    style="width: 100%;
    height: 600px;
    margin-top: -53px;
    z-index: 1;"
    data-experiencesMarkers="<%= @user_experiences_markers.to_json %>"
    data-favoritesMarkers="<%= @user_favorites_markers.to_json %>"
    data-donesMarkers="<%= @user_dones_markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    >
    </div>
    <!-- End of map -->
  </div>
</div>

<div id="commentModal">
  <div class="modal fade" id="newComment" tabindex="-1" role="dialog" aria-labelledby="newCommentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-new-comment">
        <div class="modal-header">
          <div class="experience-name">
          Oh, you've been there!
        </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="commentForm">
        </div>
        <div class="modal-footer" hidden>
          <button type="button" class="btn btn-secondary" id="modal-close-button" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script> </script>
