<div class="navbar main-navbar navbar-dark navbar-backbutton">
  <div class="back-navbar-icon-dark">
    <%= link_to root_path do  %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>

  <span class="navbar-toggler"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <% if user_signed_in? && current_user.github_picture_url.present? %>
      <%= image_tag current_user.github_picture_url, class: "avatar" %>
    <% else %>
      <%= image_tag "menu-dark.png", class: "toggler-icon" %>
    <% end %>
    <!-- <span class="navbar-toggler-icon"></span> -->
  </span>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nav-items">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Profile", user_profile_path(current_user.github_username) %>
        </li>
        <li class="nav-item">
          <%= link_to "Account Settings", edit_registration_path(current_user) %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
