<div class="banner">
  <div class="home-content">

    <h1 class="main-white-title my-2 pt-5 pb-5">
      <span>Long days coding?&nbsp;</span>
      <span>Time to chill around the island.</span>
    </h1>
<!--     <p>
      Coding all day long is tiring, we've all been there.
      Find new experiences for the evening or for the weekend, share your spots with other LeWagon alumni who've been to Bali or who are planning to come. You can add experiences, bookmark them or mark them as done and give your opinion about it.
    </p> -->


    <div class="white-transparent-button my-3">
      <%= link_to "Share an experience", new_experience_path %>
    </div>

    <p class="white-paragraphe-upcased">or</p>

    <div class="home-search-form mt-3 mb-5">
      <%= form_tag experiences_path, method: :get do %>
        <%= text_field_tag :home_query,
          params[:query],
          class: "search-bar-home",
          placeholder: "Try to type 'temple' or 'Ubud'"
        %>
        <button class="btn">
          <i class="fas fa-search white-color"></i>
        </button>
        <%#= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="category-icons">
      <%= form_tag experiences_path, method: :get do %>
        <%= hidden_field_tag :category,
          params[:category], value: "Food"
        %>
        <%= image_submit_tag("food.png", class: 'category-icon food', alt: 'Food') %>
      <% end %>

      <%= form_tag experiences_path, method: :get do %>
        <%= hidden_field_tag :category,
          params[:category], value: "Drinks"
        %>
        <%= image_submit_tag("drinks.png", class: 'category-icon drinks', alt: 'Drinks') %>
      <% end %>

      <%= form_tag experiences_path, method: :get do %>
        <%= hidden_field_tag :category,
          params[:category], value: "Nightlife"
        %>
        <%= image_submit_tag("nightlife.png", class: 'category-icon nightlife', alt: 'Nightlife') %>
      <% end %>

      <%= form_tag experiences_path, method: :get do %>
        <%= hidden_field_tag :category,
          params[:category], value: "Nature"
        %>
        <%= image_submit_tag("monkey.png", class: 'category-icon nature', alt: 'Nature') %>
      <% end %>
    </div>

    <div class="category-icons">
      <%= form_tag experiences_path, method: :get do %>
        <%= hidden_field_tag :category,
          params[:category], value: "Stays"
        %>
        <%= image_submit_tag("stays.png", class: 'category-icon stays', alt: 'Stays') %>
      <% end %>

      <%= form_tag experiences_path, method: :get do %>
        <%= hidden_field_tag :category,
          params[:category], value: "Sports"
        %>
        <%= image_submit_tag("sports.png", class: 'category-icon sports', alt: 'Sports') %>
      <% end %>

      <%= form_tag experiences_path, method: :get do %>
        <%= hidden_field_tag :category,
          params[:category], value: "Shopping"
        %>
        <%= image_submit_tag("shopping.png", class: 'category-icon shopping', alt: 'Shopping') %>
      <% end %>

      <%= form_tag experiences_path, method: :get do %>
        <%= hidden_field_tag :category,
          params[:category], value: "Arts"
        %>
        <%= image_submit_tag("arts.png", class: 'category-icon arts', alt: 'Arts') %>
      <% end %>
    </div>

    <!-- Filter select dropdown for filters -->
    <!-- <div class="home-categories-form">
      <%#= form_tag experiences_path, method: :get do %>
        <%#= select_tag "category", options_for_select(["Search by categories"] + @categories), onchange: "this.form.submit();", class: "custom-select" %>
      <%# end %>
    </div> -->
  </div>
</div>
