<% if @experiences.count == 0 %>
  <p class="mt-5 text-center medium-p" style="font-size:14px">
    Uh oh, no experiences yet. <%= link_to "Try to add one!", new_experience_path, style:"color: #828477; text-decoration: underline" %>
  </p>
<% end %>

<% @experiences.each do |experience| %>
  <div class="experience-card" data-experience-id="<%= experience.id %>">
    <%= link_to experience_path(experience) do %>
      <div class="experience-card-photo">
        <% if experience.photo.file.nil? %>
          <%= image_tag asset_path('photo-not-found.jpeg'), class: "index-photo"  %>
        <% else %>
          <%= cl_image_tag experience.photo, class: "index-photo" %>
        <% end %>
      </div>
    <% end %>

    <!-- Start statement for vote button on experience -->
    <div class="experience-card-vote-buttons" data-votes-id="<%= experience.id %>">
      <!-- VOTE + UPVOTE -->
      <% if current_user.has_voted?(experience) && current_user.has_upvoted?(experience) %>
        <%= link_to vote_path(Vote.find_by_experience(current_user, experience), github_username: params[:github_username]), remote: true, method: :delete do %>
          <i class="fas fa-chevron-up upvote-button activated"></i>
        <% end %>
        <span class="vote-text <% experience.total_votes_state %>">
          <%= experience.total_votes %>
        </span>
        <%= link_to vote_path(Vote.where(experience_id: experience.id, user_id: current_user.id).first, github_username: params[:github_username]), remote: true, method: :put do %>
           <i class="fas fa-chevron-down downvote-button"></i>
        <% end %>

      <!-- VOTE + DOWNVOTE -->
      <% elsif current_user.has_voted?(experience) && current_user.has_downvoted?(experience) %>
        <%= link_to vote_path(Vote.where(experience_id: experience.id, user_id: current_user.id).first, github_username: params[:github_username]), remote: true, method: :put do %>
          <i class="fas fa-chevron-up upvote-button"></i>
        <% end %>
        <span class="vote-text">
          <%= experience.total_votes %>
        </span>
        <%= link_to vote_path(Vote.where(experience_id: experience.id, user_id: current_user.id).first, github_username: params[:github_username]), remote: true, method: :delete do %>
          <i class="fas fa-chevron-down downvote-button activated"></i>
        <% end %>

      <!-- NO VOTE -->
      <% else %>
        <%= simple_form_for [experience, Vote.new], remote: true, html: { id: (1..10000).to_a.sample, type: 'upvote'} do |f| %>
          <%= hidden_field_tag(:value, 1, id: (1..10000).to_a.sample) %>
          <%= button_tag type: 'submit', name: 'github_username', value: params[:github_username] do %>
            <i class="fas fa-chevron-up upvote-button"></i>
          <% end %>
        <% end %>
        <span class="vote-text">
          <%= experience.total_votes %>
        </span>
        <%= simple_form_for [experience, Vote.new], remote: true, html: { id: (1..10000).to_a.sample, type: 'downvote'} do |f| %>
          <%= hidden_field_tag(:value, -1, id: (1..10000).to_a.sample) %>
          <%= button_tag type: 'submit', name: 'github_username', value: params[:github_username] do %>
            <i class="fas fa-chevron-down downvote-button"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <!-- End statement for vote button on experience -->

    <div class="experience-card-info">
      <%= link_to experience_path(experience) do %>
        <div class="experience-card-name">
          <%= experience.name %>
        </div>
      <% end %>
      <div class="experience-card-category">
        <% experience.categories.each do |category| %>
          <%= category.name %>
        <% end %>
        &nbsp;&nbsp;-&nbsp;&nbsp;
        <span class="experience-price-range">
          <%= experience.price_range_to_icon %>
        </span>
      </div>
      <div class="experience-card-location">
        <% if experience.address.split(',').length == 1 %>
          <%= experience.address %>
        <% else %>
            <%= experience.address.split(',')[0]  %>
        <% end %>
      </div>
    </div>



    <div class="experience-card-buttons">
      <!-- Statement for done button on experience -->
      <div data-done-id="<%= experience.id %>">
        <div class="experience-card-done-button <%= current_user.has_done?(experience).nil? ? 'deactivated' : 'activated' %>">
          <% if current_user.has_done?(experience) %>
            <%= link_to done_path(Done.where(experience_id: experience.id, user_id: current_user.id).first, github_username: params[:github_username]), method: :delete, remote: true do %>
                <i class="fas fa-check"></i>
            <% end %>
          <% else %>
            <%= simple_form_for [experience, Done.new], remote: true, html: { id: (1..10000).to_a.sample}  do |f| %>
              <%= button_tag type: 'submit', name: 'github_username', value: params[:github_username], id: (1..10000).to_a.sample, data: {toggle: "modal", target: "#newComment"} do %>
                <i class="fas fa-check"></i>
            <% end %>
              <%#= f.button :button, 'Done', type: 'submit', name: 'redirect_to', value: 'show' %>
            <% end %>
          <% end %>
        </div>
        <span class="button-description">Done</span>
      </div>
      <!-- End of statement for done button on experience -->


      <!-- Statement for favorite button on experience -->
      <div data-favorite-id="<%= experience.id %>">
        <div class="experience-card-favorite-button <%= current_user.has_favorite?(experience).nil? ? 'deactivated' : 'activated' %>">
          <% if current_user.has_favorite?(experience) %>
            <%= link_to favorite_path(Favorite.where(experience_id: experience.id, user_id: current_user.id).first, github_username: params[:github_username]), remote: true, method: :delete do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% else %>
            <%= simple_form_for [experience, Favorite.new], remote: true, html: { id: (1..10000).to_a.sample}  do |f| %>
              <%= button_tag type: 'submit', name: 'github_username', value: params[:github_username], id: (1..10000).to_a.sample do %>
                <i class="fas fa-heart"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <span class="button-description save">Save</span>
      </div>
      <!-- End of statement for favorite button on experience -->
    </div>
  </div>
  <%#= link_to 'show', experience_path(experience.id) %>
<% end %>
