<!-- First top part with search and filters -->
<div class="experience-index-background" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= asset_path 'optimized-palm-leaves.jpeg' %>)">
  <div class="experiences-index-container">
    <h1 class="second-title white large-padding-top px-2 pb-3">
      <span style="font-size: 25px">Find the best spots&nbsp;</span>
      <span style="font-size: 25px">in <strong>Bali.</strong></span>
    </h1>

    <div class="home-search-form mt-3 mb-5">
      <%= form_tag experiences_path, remote: true, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "search-bar-home",
          placeholder: @placeholder
        %>
        <button class="btn">
          <i class="fas fa-search white-color"></i>
        </button>
        <%#= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>

    <div class="category-icons-scroll">
      <div class="category-icons-index">
        <div>
          <%= form_tag experiences_path, method: :get, remote: true do %>
            <%= hidden_field_tag :category,
              params[:category], value: "Food", id: (1..10000).to_a.sample
            %>
            <%= image_submit_tag("food.png", class: 'category-icon food', alt: 'Food') %>
          <% end %>
        </div>

        <div>
          <%= form_tag experiences_path, method: :get, remote: true do %>
            <%= hidden_field_tag :category,
              params[:category], value: "Arts", id: (1..10000).to_a.sample
            %>
            <%= image_submit_tag("arts.png", class: 'category-icon arts', alt: 'Arts') %>
          <% end %>
        </div>
        <div>
          <%= form_tag experiences_path, method: :get, remote: true do %>
            <%= hidden_field_tag :category,
              params[:category], value: "Nature", id: (1..10000).to_a.sample
            %>
            <%= image_submit_tag("monkey.png", class: 'category-icon nature', alt: 'Nature') %>
          <% end %>
        </div>
        <div>
          <%= form_tag experiences_path, method: :get, remote: true do %>
            <%= hidden_field_tag :category,
              params[:category], value: "Nightlife", id: (1..10000).to_a.sample
            %>
            <%= image_submit_tag("nightlife.png", class: 'category-icon nightlife', alt: 'Nightlife') %>
          <% end %>
        </div>
        <div>
          <%= form_tag experiences_path, method: :get, remote: true do %>
            <%= hidden_field_tag :category,
              params[:category], value: "Stays", id: (1..10000).to_a.sample
            %>
            <%= image_submit_tag("stays.png", class: 'category-icon stays', alt: 'Stays') %>
          <% end %>
        </div>
        <div>
          <%= form_tag experiences_path, method: :get, remote: true do %>
            <%= hidden_field_tag :category,
              params[:category], value: "Sports", id: (1..10000).to_a.sample
            %>
            <%= image_submit_tag("sports.png", class: 'category-icon sports', alt: 'Sports') %>
          <% end %>
        </div>
        <div>
          <%= form_tag experiences_path, method: :get, remote: true do %>
            <%= hidden_field_tag :category,
              params[:category], value: "Shopping", id: (1..10000).to_a.sample
            %>
            <%= image_submit_tag("shopping.png", class: 'category-icon shopping', alt: 'Shopping') %>
          <% end %>
        </div>
      </div>
    </div>

    <span class="search-results-info">
      <% if @params_present %>
        <div class="mr-3 mb-3">
          Results for '<%= @placeholder %>': <strong><%= @experiences.length %></strong>
        </div>
      <% else %>
       <div class="mr-3 mb-3">
          Search results: <strong><%= @experiences.length %></strong>
        </div>
      <% end %>
      <br>
    <!-- Button to toggle the map -->
      <div class="toggle display-flex map-button-container ml-3" id="display-map-button">
        <p class='mr-3' id='display-map-text'>Display the map:</p>
        <input type="checkbox" id="toggle" />
        <label for="toggle"></label>
      </div>
    <!-- Button to toggle the map -->
    </span>


  </div>
</div>
<!-- end of first top part filters and search -->


<div class="cards-and-map-container">

  <!-- Begining of results container -->
  <div class="experience-cards-container" id="experience-cards-container">
    <% if @experiences.length == 0 %>
      <p class="no-search-results my-5">
        No results for your research. Try something else!
      </p>
    <% end %>
    <% @experiences.each do |experience| %>
      <div class="experience-card" data-experience-id="<%= experience.id %>">
        <%= link_to experience_path(experience) do %>
          <div class="experience-card-photo">
            <% if experience.photo.file.nil? %>
              <%= image_tag asset_path('photo-not-found.jpeg'), class: "index-photo" %>
            <% else %>
              <%= cl_image_tag experience.photo, class: "index-photo" %>
            <% end %>
          </div>
        <% end %>
        <!-- Start statement for vote button on experience -->
        <div class="experience-card-vote-buttons" data-votes-id="<%= experience.id %>">

          <!-- VOTE + UPVOTE -->
          <% if current_user.has_voted?(experience) && current_user.has_upvoted?(experience) %>
            <%= link_to vote_path(Vote.find_by_experience(current_user, experience), redirect_to: 'index'), remote: true, method: :delete do %>
              <i class="fas fa-chevron-up upvote-button activated"></i>
            <% end %>
            <span class="vote-text <% experience.total_votes_state %>">
              <%= experience.total_votes %>
            </span>
            <%= link_to vote_path(Vote.where(experience_id: experience.id, user_id: current_user.id).first, redirect_to: 'index'), remote: true, method: :put do %>
               <i class="fas fa-chevron-down downvote-button"></i>
            <% end %>

          <!-- VOTE + DOWNVOTE -->
          <% elsif current_user.has_voted?(experience) && current_user.has_downvoted?(experience) %>
            <%= link_to vote_path(Vote.where(experience_id: experience.id, user_id: current_user.id).first, redirect_to: 'index'), remote: true, method: :put do %>
              <i class="fas fa-chevron-up upvote-button"></i>
            <% end %>
            <span class="vote-text">
              <%= experience.total_votes %>
            </span>
            <%= link_to vote_path(Vote.where(experience_id: experience.id, user_id: current_user.id).first, redirect_to: 'index'), remote: true, method: :delete do %>
              <i class="fas fa-chevron-down downvote-button activated"></i>
            <% end %>

          <!-- NO VOTE -->
          <% else %>
            <%= simple_form_for [experience, Vote.new], remote: true, html: { id: (1..10000).to_a.sample, type: 'upvote'} do |f| %>
              <%= hidden_field_tag(:value, 1, id: (1..10000).to_a.sample) %>
              <%= button_tag type: 'submit' do %>
                <i class="fas fa-chevron-up upvote-button"></i>
              <% end %>
            <% end %>
            <span class="vote-text">
              <%= experience.total_votes %>
            </span>
            <%= simple_form_for [experience, Vote.new], remote: true, html: { id: (1..10000).to_a.sample, type: 'downvote'} do |f| %>
              <%= hidden_field_tag(:value, -1, id: (1..10000).to_a.sample) %>
              <%= button_tag type: 'submit' do %>
                <i class="fas fa-chevron-down downvote-button"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <!-- End statement for vote button on experience -->

        <div class="experience-card-info">
          <%= link_to experience_path(experience) do %>
            <div class="experience-card-name">
              <%= experience.name %>
            </div>
          <% end %>
          <div class="experience-card-category">
            <%= experience.category.name %>&nbsp;&nbsp;-&nbsp;&nbsp;
            <span class="experience-price-range">
              <%= experience.price_range_to_icon %>
            </span>
          </div>
          <div class="experience-card-location">
            <%= experience.address.split(',')[2][0..16]%>
            <%= "..." if experience.address.split(',')[2].length > 16 %>
          </div>
        </div>



        <div class="experience-card-buttons">
          <!-- Statement for done button on experience -->
          <div data-done-id="<%= experience.id %>">
            <div class="experience-card-done-button <%= current_user.has_done?(experience).nil? ? 'deactivated' : 'activated' %>">
              <% if current_user.has_done?(experience) %>
                <%= link_to done_path(Done.where(experience_id: experience.id, user_id: current_user.id).first, redirect_to: 'index'), method: :delete, remote: true do %>
                    <i class="fas fa-check"></i>
                <% end %>
              <% else %>
                <%= simple_form_for [experience, Done.new], remote: true, html: { id: (1..10000).to_a.sample} do |f| %>
                  <%= button_tag type: 'submit', name: 'redirect_to', value: 'index', id: (1..10000).to_a.sample, data: {toggle: "modal", target: "#newComment"} do %>
                    <i class="fas fa-check"></i>
                <% end %>
                  <%#= f.button :button, 'Done', type: 'submit', name: 'redirect_to', value: 'show' %>
                <% end %>
              <% end %>
            </div>
            <span class="button-description">Done</span>
          </div>
          <!-- End of statement for done button on experience -->


          <!-- Statement for favorite button on experience -->
          <div data-favorite-id="<%= experience.id %>">
            <div class="experience-card-favorite-button <%= current_user.has_favorite?(experience).nil? ? 'deactivated' : 'activated' %>">
              <% if current_user.has_favorite?(experience) %>
                <%= link_to favorite_path(Favorite.where(experience_id: experience.id, user_id: current_user.id).first, redirect_to: 'index'), remote: true, method: :delete do %>
                  <i class="fas fa-heart"></i>
                <% end %>
              <% else %>
                <%= simple_form_for [experience, Favorite.new], remote: true, html: { id: (1..10000).to_a.sample}  do |f| %>
                  <%= button_tag type: 'submit', name: 'redirect_to', value: 'index', id: (1..10000).to_a.sample do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <span class="button-description save">Save</span>
          </div>
          <!-- End of statement for favorite button on experience -->
        </div>
      </div>
      <%#= link_to 'show', experience_path(experience.id) %>
    <% end %>
  </div>
  <!-- End of results container -->

  <!-- Beginning of map -->
  <div
    class="display-none"
    id="index-map"
    style="width: 100%;
    height: 600px;
    margin-top: -53px;
    z-index: 1;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>


  <!-- End of map -->
</div>

<div id="commentModal">
  <div class="modal fade" id="newComment" tabindex="-1" role="dialog" aria-labelledby="newCommentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-new-comment">
        <div class="modal-header">
          <div class="experience-name">
          Oh, you've been there!
        </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="commentForm">
        </div>
        <div class="modal-footer" hidden>
          <button type="button" class="btn btn-secondary" id="modal-close-button" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
