<div class="form-container">
  <div class="new-experience-form">
    <%= simple_form_for @experience do |f| %>
      <%= f.association :category, label_method: :name, selected: 'Food' %>
      <%= f.input :name, placeholder: "ex: Diving with mantas at Penida" %>
      <%= f.input :address, placeholder: "ex: Canggu" %>
      <%= f.input :price, input_html: { value: 0 } %>
      <%= f.input :details, input_html: {rows: 5}, placeholder: "How was your experience? What did you most enjoy? Would you recommend it? Summarize your visit or highlight an interesting detail." %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
