  <%#= cl_image_tag @experience.photo, class: 'experience-photo' %>
<div class="experience-photo-container" style="background-image: <%= 'linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),' if @experience.photo.file.nil? %> url(<%= @experience.photo.file.nil? ? asset_path('photo-not-found.jpeg') : @experience.photo %>);">
  <div class="back-icon">
    <%= link_to experiences_path do  %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>
  <% if @experience.photo.file.nil? %>
    <div class="photo-not-found-text">
      No Photo Added :(
    </div>
  <% end %>
  <!-- BEFOREEEEE -->



  <div class="experience-light-gray-background">
    <div class="experience-main-container">
      <div class="experience-name">
        <%= @experience.name %>
      </div>

      <!-- Statement for done button on experience -->
      <div class="done-button <%= current_user.has_done?(@experience).nil? ? 'deactivated' : 'activated' %>">
        <% if current_user.has_done?(@experience) %>
          <%= link_to done_path(Done.where(experience_id: @experience.id, user_id: current_user.id).first, redirect_to: 'show'), method: :delete do %>
              <i class="fas fa-check"></i>
          <% end %>
        <% else %>
          <%= simple_form_for [@experience, @done] do |f| %>
            <%= button_tag type: 'submit', name: 'redirect_to', value: 'show' do %>
              <i class="fas fa-check"></i>
          <% end %>
            <%#= f.button :button, 'Done', type: 'submit', name: 'redirect_to', value: 'show' %>
          <% end %>
        <% end %>
        <p class="done-hint">
          Been there?
        </p>
      </div>
      <!-- End of statement for done button on experience -->


      <!-- Statement for favorite button on experience -->
      <div class="favorite-button <%= current_user.has_favorite?(@experience).nil? ? 'deactivated' : 'activated' %>">
        <% if current_user.has_favorite?(@experience) %>
          <%= link_to favorite_path(Favorite.where(experience_id: @experience.id, user_id: current_user.id).first, redirect_to: 'show'), method: :delete do %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% else %>
          <%= simple_form_for [@experience, @favorite] do |f| %>
            <%= button_tag type: 'submit', name: 'redirect_to', value: 'show' do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% end %>
        <% end %>
        <p class="favorite-hint">
          Add to <br> wishlist
        </p>
      </div>
      <!-- End of statement for favorite button on experience -->

      <!-- Start statement for vote button on experience -->
      <div class="vote-buttons">

        <!-- VOTE + UPVOTE -->
        <% if current_user.has_voted?(@experience) && current_user.has_upvoted?(@experience) %>
          <%= link_to vote_path(Vote.where(experience_id: @experience.id, user_id: current_user.id).first, redirect_to: 'show'), method: :delete do %>
            <i class="fas fa-chevron-up upvote-button activated"></i>
          <% end %>
          <span class="vote-text <%= @experience.total_votes_state %>">
            <%= @experience.total_votes %>
          </span>
          <%= link_to vote_path(Vote.where(experience_id: @experience.id, user_id: current_user.id).first, redirect_to: 'show'), method: :put do %>
             <i class="fas fa-chevron-down downvote-button"></i>
          <% end %>

        <!-- VOTE + DOWNVOTE -->
        <% elsif current_user.has_voted?(@experience) && current_user.has_downvoted?(@experience) %>
          <%= link_to vote_path(Vote.where(experience_id: @experience.id, user_id: current_user.id).first, redirect_to: 'show'), method: :put do %>
            <i class="fas fa-chevron-up upvote-button"></i>
          <% end %>
          <span class="vote-text <%= @experience.total_votes_state %>">
            <%= @experience.total_votes %>
          </span>
          <%= link_to vote_path(Vote.where(experience_id: @experience.id, user_id: current_user.id).first, redirect_to: 'show'), method: :delete do %>
            <i class="fas fa-chevron-down downvote-button activated"></i>
          <% end %>

        <!-- NO VOTE -->
        <% else %>
          <%= simple_form_for [@experience, Vote.new] do |f| %>
            <%= hidden_field_tag(:value, 1) %>
            <%= button_tag type: 'submit', name: 'redirect_to', value: 'show' do %>
              <i class="fas fa-chevron-up upvote-button"></i>
            <% end %>
          <% end %>
          <span class="vote-text">
            <%= @experience.total_votes %>
          </span>
          <%= simple_form_for [@experience, Vote.new] do |f| %>
            <%= hidden_field_tag(:value, -1) %>
            <%= button_tag type: 'submit', name: 'redirect_to', value: 'show' do %>
              <i class="fas fa-chevron-down downvote-button"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <!-- End statement for vote button on experience -->

      <div class="experience-category">
        <%= @experience.category.name %>
      </div>

      <div class="experience-location">
        <i class="fas fa-map-marker-alt" style="color: #6f6f6f"></i> <%= @experience.address.split(',')[0] %> - <%= @experience.address.split(',')[2] %>
      </div>

    </div>
  </div>
  <div class="experience-dark-gray-background">
    <div class="experience-info-container">
      <h6 class="small-light-title">Price range</h6>
      <div class="experience-price-range">
        <%= @experience.price_range_to_icon %>
      </div>

      <h6 class="small-light-title pt-3">Details</h6>
      <div class="experience-details">
        <%= @experience.details %>
      </div>

      <h6 class="small-light-title pt-3">Who has been there?</h6>
      <div class="people-been-there">
        <% @experience.total_dones.each do |person| %>
          <span class="person-info">
              <%= image_tag person.github_picture_url, class: "person_avatar #{'owner' if person.id == @experience.user_id}" %>
              <%= person.github_username %>
          </span>
        <% end %>
      </div>
      <%#= link_to 'edit', edit_experience_path(@experience)  %>
      <%#= link_to 'Back', experiences_path %>
    </div>
  </div>
  </div>

</div>
