<div class="experience-photo-container" style="background-image: <%= 'linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),' if @experience.photo.file.nil? %> url(<%= @experience.photo.file.nil? ? asset_path('photo-not-found.jpeg') : @experience.photo %>);">
  <% if @experience.photo.file.nil? %>
    <div class="photo-not-found-text">

    </div>
  <% end %>
  <!-- BEFOREEEEE -->



  <div class="experience-white-background">
    <div class="experience-main-container">
      <div class="experience-name">
        <%= @experience.name %>
      </div>

      <!-- Statement for done button on experience -->
      <div data-show-done-id="<%= @experience.id %>">
        <div class="done-button <%= current_user.has_done?(@experience).nil? ? 'deactivated' : 'activated' %>">
          <% if current_user.has_done?(@experience) %>
            <%= link_to done_path(Done.where(experience_id: @experience.id, user_id: current_user.id).first), remote: true, method: :delete, id:"sweet-alert-remove" do %>
                <i class="fas fa-check"></i>
            <% end %>
          <% else %>
            <%= simple_form_for [@experience, @done], remote: true do |f| %>
              <%= button_tag type: 'submit', data: {toggle: "modal", target: "#newComment"} do %>
                <i class="fas fa-check"></i>
            <% end %>
              <%#= f.button :button, 'Done', type: 'submit' %>
            <% end %>
          <% end %>
          <p class="done-hint">
            Been there?
          </p>
        </div>
      </div>
      <!-- End of statement for done button on experience -->


      <!-- Statement for favorite button on experience -->
      <div data-show-favorite-id="<%= @experience.id %>">
        <div class="favorite-button <%= current_user.has_favorite?(@experience).nil? ? 'deactivated' : 'activated' %>">
          <% if current_user.has_favorite?(@experience) %>
            <%= link_to favorite_path(Favorite.where(experience_id: @experience.id, user_id: current_user.id).first), remote: true, method: :delete do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% else %>
            <%= simple_form_for [@experience, @favorite], remote: true do |f| %>
              <%= button_tag type: 'submit' do %>
                <i class="fas fa-heart"></i>
              <% end %>
            <% end %>
          <% end %>
          <p class="favorite-hint">
            Add to <br> wishlist
          </p>
        </div>
      </div>
      <!-- End of statement for favorite button on experience -->

      <!-- Start statement for vote button on experience -->
      <div class="vote-buttons" data-show-vote-id="<%= @experience.id %>">

        <!-- VOTE + UPVOTE -->
        <% if current_user.has_voted?(@experience) && current_user.has_upvoted?(@experience) %>
          <%= link_to vote_path(Vote.where(experience_id: @experience.id, user_id: current_user.id).first), remote: true, method: :delete do %>
            <i class="fas fa-chevron-up upvote-button activated"></i>
          <% end %>
          <span class="vote-text <%= @experience.total_votes_state %>">
            <%= @experience.total_votes %>
          </span>
          <%= link_to vote_path(Vote.where(experience_id: @experience.id, user_id: current_user.id).first), remote: true, method: :put do %>
             <i class="fas fa-chevron-down downvote-button"></i>
          <% end %>

        <!-- VOTE + DOWNVOTE -->
        <% elsif current_user.has_voted?(@experience) && current_user.has_downvoted?(@experience) %>
          <%= link_to vote_path(Vote.where(experience_id: @experience.id, user_id: current_user.id).first), remote: true, method: :put do %>
            <i class="fas fa-chevron-up upvote-button"></i>
          <% end %>
          <span class="vote-text <%= @experience.total_votes_state %>">
            <%= @experience.total_votes %>
          </span>
          <%= link_to vote_path(Vote.where(experience_id: @experience.id, user_id: current_user.id).first), remote: true, method: :delete do %>
            <i class="fas fa-chevron-down downvote-button activated"></i>
          <% end %>

        <!-- NO VOTE -->
        <% else %>
          <%= simple_form_for [@experience, Vote.new], remote: true do |f| %>
            <%= hidden_field_tag(:value, 1) %>
            <%= button_tag type: 'submit', style: 'padding: 0' do %>
              <i class="fas fa-chevron-up upvote-button"></i>
            <% end %>
          <% end %>
          <span class="vote-text">
            <%= @experience.total_votes %>
          </span>
          <%= simple_form_for [@experience, Vote.new], remote: true do |f| %>
            <%= hidden_field_tag(:value, -1) %>
            <%= button_tag type: 'submit', style: 'padding: 0' do %>
              <i class="fas fa-chevron-down downvote-button"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <!-- End statement for vote button on experience -->

      <div class="experience-category">
        <% @experience.categories.each do |category| %>
        <span class='category-tag'>
          <%= category.name %>
        </span>
        <% end %>
      </div>

      <div class="experience-location">
        <i class="fas fa-map-marker-alt" style="color: #6f6f6f"></i>
        <%= @experience.address.split(',')[0] %>
        <%= "-" + @experience.address.split(',').last unless @experience.address.split(',').length == 1 %>
      </div>

    </div>
  </div>
  <div class="experience-dark-gray-background p-4">
    <div class="experience-info-container">
      <h6 class="small-grey-title">Price range</h6>
      <div class="experience-price-range">
        <%= @experience.price_range_to_icon %>

      </div>

      <h6 class="small-grey-title pt-3">Details</h6>
      <div class="experience-details">
        <% if @experience.details.empty? %>
          Sorry, the user didn't add any details.
        <% else %>
          <%= @experience.details %>
        <% end %>
      </div>

      <h6 class="small-grey-title pt-3">Who has been there?</h6>
      <div class="people-been-there" id="people-been-there">
        <% @experience.total_dones.each do |person| %>
          <%= link_to user_profile_path(person.github_username) do %>
            <span class="person-info">
                <%= image_tag person.github_picture_url, class: "person-avatar #{'owner' if person.id == @experience.user_id}" %>
                <%= person.github_username %>
            </span>
          <% end %>
        <% end %>
      </div>

      <h6 class="small-grey-title pt-4 pb-2"> What they think about this place</h6>
      <div class="people-been-there" id="comments-show">
        <%= render "./comments/all-comments", experience: @experience %>
        <% if current_user.has_done?(@experience) %>
          <% if current_user.has_done?(@experience).comment.nil? %>
            <%= render './comments/new-comment', experience: @experience %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% if policy(@experience).edit? %>
  <div class="teal-transparent-button my-4">
    <%= link_to 'Edit your experience', edit_experience_path(@experience)  %>
  </div>
<% end %>
</div>

<div id="commentModal">
  <div class="modal fade" id="newComment" tabindex="-1" role="dialog" aria-labelledby="newCommentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-new-comment">
        <div class="modal-header">
          <div class="experience-name">
          Oh, you've been there!
        </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="commentForm">
        </div>
        <div class="modal-footer" hidden>
          <button type="button" class="btn btn-secondary" id="modal-close-button" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
